version: "3.9"

services:
  database_ignite:
    image: postgres
    container_name: database_ignite
    restart: always
    ports: 
      - 5432:5432
    environment:
      - POSTGRES_USER=ignite
      - POSTGRES_PASSWORD=9e0df8d77cf3aa98ba825f8d9fbf97dc
      - POSTGRES_DB=rentx
    volumes:
      - pgdata:/data/postgres
  app:
    build: .
    container_name: rentx
    restart: always
    ports: 
      - 3333:3333
      - 9229:9229
    volumes: 
      - .:/usr/app
    links: 
      - database_ignite
    depends_on:
      - database_ignite
volumes:
  pgdata:
    driver: local